/* src/App.css */



/* ... (la clase .app-container se mantiene igual) ... */
.app-container {
  position: relative; 
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;

  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

}


.overlay-content {
  position: absolute;
  top: 20px;
  /* ANTES: left: 120px; */
  left: 280px; /* AHORA: 260px del navbar + 20px de margen */
  z-index: 999;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-left: 10px ;
  height: 20px;
  align-items: center;
}