.app-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  min-height: 100vh;
  background-color: #f4f6fa;
}

/* Contenido principal dinámico */
.main-content {
  flex: 1;
  transition: all 0.3s ease;
}


.overlay-content {
  position: absolute;
  top: 20px;
  left: 280px;
  z-index: 999;
  background-color: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  gap: 12px;
  min-height: 60px;
  max-width: calc(100vw - 40px); /* 🧠 evita scroll lateral */
  overflow-x: auto;
  
}
.main-content {
  margin-left: 260px; /* AJUSTAR AL ANCHO REAL DEL NAVBAR */
  width: calc(100% - 260px);
  min-height: 100vh;
  background-color: #e0e0e0;
}
.filtro-container h4 {
  margin-bottom: 8px;
  font-size: 16px;
}

.filtro-container select {
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}
/* evita scroll en toda la app */

html, body {

  margin: 0;
  padding: 0;

  height: 100%;

  overflow: hidden;

}
