/* src/components/Navbar.css */

.navbar-container {
  position: absolute;
  left: 0;
  top: 0;
  height: 90vh;
  width: 260px;
  z-index: 1000;
  border-radius: 20px;
  background-color: #474b57de;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  padding: 20px 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: width 0.3s ease;
}

.logo {
  width: 200px;
  height: 70px;
}

.navbar-header {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 15px;
  margin-bottom: 20px;
  background-color: #000;
  border-radius: 12px;
}

.navbar-body {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  color: #e0e0e0;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.nav-item:hover {
  background-color: #3c3f4a;
}

.nav-item.active {
  background-color: #3c3f4a; /* mismo sombreado que el hover */
  color: #e0e0e0; /* mantiene el color original */
  font-weight: normal; /* sin negrita */
}
